@page "/"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<div class="text-center">
    <h1 class="display-5">Retail &amp; Asset Solutions</h1>
    <h4>Post Count Data</h4>
</div>